In [8]:
import matplotlib.pyplot as plt

In [9]:
import pickle
import pandas as pd
import numpy as np 
with open("D:/RA/realtime-analysis - old/MUA_data.pkl", "rb") as f:
    data = pickle.load(f)

In [10]:
stimulus_diameter = np.array([0.1, 0.2, 0.4, 0.5, 0.6, 0.8, 1., 1.2, 1.5, 1.8, 2., 2.4, 3., 3.5, 5., 10., 15., 20., 26.])

In [11]:
spike_count_arrays = []
for i in data.keys():
    if data[i][100.0]['spkR_NoL'].shape == (21, 19, 1000):
        spike_count_arrays.append(np.sum(np.sum(data[i][100.0]['spkR_NoL'][:,:,400:900],axis = 2),axis=0))

In [12]:
len(spike_count_arrays)

43

In [13]:
datadf = [] #temp array

In [14]:
for i, counts in enumerate(spike_count_arrays):
    for j, diameter in enumerate(stimulus_diameter):
        datadf.append(('cell{}'.format(i), diameter, counts[j]))

In [15]:
datadf = pd.DataFrame(datadf, columns=['Cell Number', 'Stimulus Diameter', 'Spike Count'])
datadf.head(50)

   Cell Number  Stimulus Diameter  Spike Count
0        cell0                0.1        124.0
1        cell0                0.2        317.0
2        cell0                0.4        307.0
3        cell0                0.5        272.0
4        cell0                0.6        308.0
5        cell0                0.8        257.0
6        cell0                1.0        316.0
7        cell0                1.2        322.0
8        cell0                1.5        317.0
9        cell0                1.8        258.0
10       cell0                2.0        301.0
11       cell0                2.4        264.0
12       cell0                3.0        241.0
13       cell0                3.5        233.0
14       cell0                5.0        176.0
15       cell0               10.0        155.0
16       cell0               15.0        163.0
17       cell0               20.0        173.0
18       cell0               26.0        162.0
19       cell1                0.1        111.0
20       cell1                0.2        243.0
21       cell1                0.4        279.0
22       cell1                0.5        276.0
23       cell1                0.6        304.0
24       cell1                0.8        263.0
25       cell1                1.0        240.0
26       cell1                1.2        201.0
27       cell1                1.5        156.0
28       cell1                1.8        149.0
29       cell1                2.0        127.0
30       cell1                2.4        109.0
31       cell1                3.0        118.0
32       cell1                3.5        110.0
33       cell1                5.0        102.0
34       cell1               10.0        124.0
35       cell1               15.0        107.0
36       cell1               20.0        120.0
37       cell1               26.0        114.0
38       cell2                0.1         84.0
39       cell2                0.2        171.0
40       cell2                0.4        189.0
41       cell2                0.5        211.0
42       cell2                0.6        202.0
43       cell2                0.8        191.0
44       cell2                1.0        166.0
45       cell2                1.2        136.0
46       cell2                1.5        151.0
47       cell2                1.8        132.0
48       cell2                2.0        113.0
49       cell2                2.4        107.0

In [16]:
datadf.describe()

       Stimulus Diameter  Spike Count
count         817.000000   817.000000
mean            5.000000  1011.227662
std             7.227924   993.750800
min             0.100000    33.000000
25%             0.600000   262.000000
50%             1.800000   592.000000
75%             5.000000  1382.000000
max            26.000000  3154.000000

In [17]:
datadf.describe()

       Cell Number  Stimulus Diameter  Spike Count
count          817         817.000000   817.000000
unique          43                NaN          NaN
top          cell0                NaN          NaN
freq            19                NaN          NaN
mean           NaN           5.000000  1011.227662
std            NaN           7.227924   993.750800
min            NaN           0.100000    33.000000
25%            NaN           0.600000   262.000000
50%            NaN           1.800000   592.000000
75%            NaN           5.000000  1382.000000
max            NaN          26.000000  3154.000000